<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidai.business.dao.basic.AwardCodeMapper">
    <resultMap id="BaseResultMap" type="com.yidai.model.entity.basic.AwardCode">
        <!-- 添加你的注释 -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="disable" property="disable" jdbcType="BOOLEAN"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!-- 添加你的注释 -->
        id, code, status, user_id, disable, send_time, operator_id, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        <!-- 添加你的注释 -->
        select
        <include refid="Base_Column_List"/>
        from award_code
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!-- 添加你的注释 -->
        delete from award_code
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yidai.model.entity.basic.AwardCode" useGeneratedKeys="true" keyProperty="id">
        <!-- 添加你的注释 -->
        insert into award_code (code, status, user_id,
        disable, send_time, operator_id,
        create_time, update_time)
        values (#{code,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{disable,jdbcType=BOOLEAN}, #{sendTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yidai.model.entity.basic.AwardCode" useGeneratedKeys="true"
            keyProperty="id">
        <!-- 添加你的注释 -->
        insert into award_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="disable != null">
                disable,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="disable != null">
                #{disable,jdbcType=BOOLEAN},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatorId != null">
                #{operatorId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yidai.model.entity.basic.AwardCode">
        <!-- 添加你的注释 -->
        update award_code
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="disable != null">
                disable = #{disable,jdbcType=BOOLEAN},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yidai.model.entity.basic.AwardCode">
        <!-- 添加你的注释 -->
        update award_code
        set code = #{code,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        disable = #{disable,jdbcType=BOOLEAN},
        send_time = #{sendTime,jdbcType=TIMESTAMP},
        operator_id = #{operatorId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>